<section class="not_found mt-[5.5rem]" >
    <div class="not-found_box w-2/3 mx-auto flex items-center flex-col">
        <img class="mx-auto" src="/img/not-found.png" alt="not-found" />
        <a
          href="/"
          class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12 mx-auto"
          >Go back</a
        >
      </div>
</section>